all:
  children:
    CORE1:
      children:
        Switch1:
          hosts:
            R1:
              ansible_host: 10.15.1.1
            R2:
              ansible_host: 10.15.1.2

  vars:
    ansible_user: cisco
    ansible_password: cisco
    ansible_connection: network_cli
    ansible_network_os: ios